.cuadrado {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

#cuadrado1 {
    background-color: red;
    color: white;
}
#cuadrado2 {
    background-color: green;
    color: white;
}
#cuadrado3 {
    background-color: blue;
    color: white;
}