h1 {
    color:white;
    background-color: rgb(156, 2, 2);
    border: 2px solid  red;
    padding: 20px;
}


b {
    font-size: 20px;
    text-decoration: underline;
}

p{ color:  rgb(156, 2, 2);

}

img{
    width: 200px;
}