@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@charset "utf-8";

*{
    font-family: 'Poppins', sans-serif;

}

h1 {
    color:white;
    background-color: rgb(156, 2, 2);
    border: 2px solid  red;
    padding: 20px;
}


b {
    font-size: 20px;
    text-decoration: underline;
}

p{ color:  rgb(156, 2, 2);
    column-count: 2;
    padding: 10px 40px;


}

img{
    width: 200px;
}

.contenedor_main{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}